<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>576527543832-03oneskve2h6kvoq3611htkqgg07dg6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576527543832-03oneskve2h6kvoq3611htkqgg07dg6l</string>
	<key>API_KEY</key>
	<string>AIzaSyDmlMkjWhsJV18mDDQF-K6tuMRwnFPQpVo</string>
	<key>GCM_SENDER_ID</key>
	<string>576527543832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>add.ContactApp</string>
	<key>PROJECT_ID</key>
	<string>contactapp-3abae</string>
	<key>STORAGE_BUCKET</key>
	<string>contactapp-3abae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576527543832:ios:812f70bc20e51a2d</string>
	<key>DATABASE_URL</key>
	<string>https://contactapp-3abae.firebaseio.com</string>
</dict>
</plist>